nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  padding-left: 20px;
  padding-right: 30px;
  background-color: #852614;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

h1 {
  font-size: 2rem;
  color: #eeeeee;
}

.nav-link, .nav-link:active {
  color: #eeeeee;
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: #eeeeee solid 2px;
}