.product-link, .product-link:active {
  color: #000;
  text-decoration: none;
}

.product-link {
  width: 20rem;
}

.product-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
  height: 18rem;
  border: solid 1px #eee;
  border-radius: 15px;
  padding: 20px;
}

.product-preview > img {
  height: 12rem;
  align-self: center;
}

.product-info > h3 {
  width: 15rem;
  font-size: 1rem;
}

.product-preview > .product-info {
  display: flex;
  flex-direction: column;
}
