.shop {
  display: flex;
  flex-direction: column;
}

.categories {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  padding-top: 20px;
}

.category-buttons {
  display: flex;
  gap: 20px;
  padding-left: 20px;
}

ul {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.category-button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
}

.category-button:hover {
  background-color: #C85F31;
  color: #fff;
}

.active {
  color: #fff;
  background-color: #852614;
}

.active:hover {
  background-color: #852614;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 10rem;
  align-self: center;
  padding-top: 15px;
  padding-bottom: 20px;
}